body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: flex-start;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-bloc {
    display: flex;
    padding: 40px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #5e22c3;
    padding: 20px;
    text-align: center;
    width: auto;
    gap: 20px;
}

.sidebar img {
    display: flex;
    width: 50px;
    height:50px;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img.main-logo {
    max-height: 100px;
}

footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    height: 100px;
}

footer p {
    margin: 0;
    color: #ffffff;
}

.footer-links {
    color: #ffffff;
    line-height: 2;
    font-size: 1.2em;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
