body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header img {
    max-height: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px; 
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

section {
    padding: 20px;
    border-top: 1px solid #000000;
}

.section h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5em; 
    font-weight: bold;
}

.button-container {
    text-align: center;
    margin-top: 20px; 
}

.button {
    display: inline-block;
    padding: 15px 60px;
    margin: 40px 70px; 
    text-decoration: none;
    background-color: #5e22c3;
    color: #fffefe;
    border: 0px solid #000;
    font-weight: bold;
}

footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    height: 100px;
}

footer p {
    margin: 0;
    color: #ffffff;
}

.footer-links {
    color: #ffffff;
    line-height: 2;
    font-size: 1.2em;
    margin-top: 10px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.red-asterisk {
    font-size: 1.2em;
    margin-left: 5px;
}

.button-description {
    font-size: 0.8em;
    margin-top: 5px;
    color: #555; 
}

.content-container {

    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 75px;
    margin-left: 75px;
}

.main-title {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 130px;
    font-family:'Helvetica', Arial, sans-serif;
    font-size: 34px;
    text-transform: uppercase;
}

.main-title::before {
    content: "| "; 
    color: #5e22c3; 
}

.card {
    display: flex;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.image-container {
    flex: 0 0 40%; 
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.text-container {
    flex: 0 0 60%;
    background-color: #f2f2f2;
    padding: 20px;
}

.premier-para {
    font-size: 2.2em;
    color: rgb(80, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.description-container {
    flex: 0 0 30%;
    white-space: normal;
    padding-top: 10px;
}

.description-container p {
    font-size: 1.2em;
    margin-left: 35px;
}

.description-container a {
    color: #5e22c3;
    text-decoration: none;
}
.registration-links {
    text-align: left;
    margin-top: 20px;
}

.bullet-point {
    font-size: 1.2em;
    color: #000000;
    margin-right: 5px;
}

.registration-links a {
    text-decoration: none;
    color: #5e22c3;
    font-weight: bold;
    font-family: 'Montserrat','Helvetica', Arial, sans-serif;

}
